/***********************************
            Reset
***********************************/
html {
    box-sizing: border-box
}

*, *::before, **::after {
    box-sizing: inherit
}

body {
    font-family: poppins, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #09203F  ,  #537895)
}

/***********************************
            Main section
***********************************/
#test-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(225,225,225,0.8);
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question-sec {
    text-align: center;
}

fieldset {
    border: none;
}

ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    list-style-type: none;
    padding: 0;
}


input[type="radio"] {
    accent-color: #09203F;
}

.btn{
    margin-top: 1em;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: .85em;
    background-color: #537895;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.btn:hover {
    cursor: pointer;
    background-color: #456379
}


.test-result {
    color: white;
}

.test-score {
    text-align: center;
    background-color: rgba(225,225,225,0.8);
    border-radius: 100%;
    padding: 3.5em;
    color: #212121;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="submit"]{
    margin-left: 20px;
}

